html, 
button,
input,
select,
textarea{
    color:black;	
}
body{
     font-size:1em;
	 line-height:1.4;
	 font: 16px Helvetica;
}
.container{
    width: 90%;
	margin: 0 5%;	
}
/* color del sitio web*/
.header-container{
border-bottom: 20px solid #1a86d9; /*definicion del borde*/
}
.footer-container, 
.main aside{
     font-family: 'Waiting for the Sunrise', cursive;
     border-top:20px solid #1a86d9; 

    border:dashed 3px #174dd4;
    -moz-border-radius: 43px;
    -webkit-border-radius: 43px;
    border-radius: 43px;



}
.title{
     font-family: 'Waiting for the Sunrise', cursive;
     color: #174dd4;
	 text-shadow:5px 5px 5px #d9991a;
	 
	 
}
/*MENU*/
nav ul{
margin: 0;
padding: 0;
}
nav a{
   display: block;/*muestra oculta un elemento none=oculto , block=muestro*/
   margin-bottom: 10px;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   font-weight: bold;
   color: white;
   background: #1a86d9;
}
nav a:hover, /*controlar el tamaño cuando y cuando seda linnk*/
van  a:visited{
     color: black;
}
nav a:hover {
    text-decoration:underline; /*colocara una linea debajo del texto cuando se le pasa el ratón  */
}
nav li{
   list-style: none; /*estilo de la viñeta*/
}
/*definicion deestilo para la resolucion mas baja*/
.main{
    padding: 30px 0;
}	
.main article h1{
    font-family: 'Waiting for the Sunrise', cursive;
   font-size: 2em;
}
.main aside{
   color: black;
   padding: 0px 5% 10px;
}
.footer-container footer{
  color: black;
}
.clearfix:before,
.clearfix:after{ /*limpialas capas y las muestra en forma de tabla*/
   content: " ";
   display: table;
}
.clearfix:after{
   clear: both;
}

/*media query*/
@media only screen and (min-width: 480px){
/*aplica a pantallas anchas de  480px*/
h1 {
    color: black;
  }
nav a{
     float:left;
	 width:27%;
	 margin:0 1.7%;
	 padding:25px 2%;
	 margin-bottom: 0;
    }  
nav li:first-child a{ /*primer nodo*/
     margin-left:0;
	}	
nav li:last-child a{/*ultimo nodo*/
     margin-right:0;
	}	
nav ul li{
     display: inline;
	}
.main aside{
    
	
    border:dashed 5px #d94c0b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
	
}
@media only screen and (min-width: 780px){
   header-container,
   .main aside{
      -webkit-box-shadow: 0 5px 10px #aaa;/*borde sobre las capas google.safari*/
	     -moz-box-shadow: 0 5px 10px #aaa;/*mozilla*/
	          box-shadow: 0 5px 10px #aaa;/*cuando ya se haya aprobado el estandar*/
	  /*de la pagina css3maker*/
	  -moz-box-shadow: -17px 10px 5px #d67428;
      -webkit-box-shadow: -17px 10px 5px #d67428;
       box-shadow: -17px 10px 5px #d67428;		  
     /*debemos deifnir lostres mientras no este aprobada el css*/
   }
   .title{
    float: left;
	text-shadow:5px 5px 5px #d9991a;
   }
   nav{
    float: right;
	width:38%;
   }
   .main article{
      font-family: 'Waiting for the Sunrise', cursive;
     float: right;
	 width: 30%;
   }
   .main aside{
     float: left;
	 width: 28%;
   }
   
}