/* 
    Document   : main
    Created on : 11-sep-2013, 18:22:49
    Author     : CC1-M01
    Description:
        Purpose of the stylesheet follows.
*/

html,
button,
input,
select,
textarea{
    color:black;
}
body{
    font-size: 1em;
    line-height: 1.4;
    font: 16px Helvetica;
}

.container{
width: 90%;
/*padding: 3px;*/
margin:0 5%;
/*
margin: 3px 6px 3px 6px;

margin: 3px;

margin-left: 6px;
margin-right: 6px;
margin-top: 3px;
margin-bottom: 3px;
*/

}


/* color de sitio web*/
.header-container{
    border-bottom: 20px solid #e44d26;
}

.footer-container,.main aside{
    border-top: 20px solid #e44d26;
}
.title{
    color: white;
}
/*MENU*/

nav ul{
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #e44d26;
}
nav a:hover,van a:visited{
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
nav li{
    list-style: none;
}

.main{
    padding: 30px 0;
}

.main article h1{
    font-size: 2em;
}
.main aside{
    color: white;
    padding: 0px 5% 10px
}
.footer-container footer{
    color: white;
    padding: 20px 0;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: talbe;
}
@media only screen and (min-width:480px){
    /*aplica a pantallas mas anchas de 480px*/
    h1{
        color: red;
    }
    
    nav a{
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li:first-child a{
        margin-left: 0;
    }
    nav li:last-child a{
        margin-right: 0;
    }
    nav ul li{
        display: inline;
    }
}

@media only screen and (min-width:780px){
    header-container,.main aside{
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;

        -moz-box-shadow: 1px 0px 29px #5800fa;
        -webkit-box-shadow: 1px 0px 29px #5800fa;
        box-shadow: 1px 0px 29px #5800fa;
        
    }
}

